%footer.row
  .large-12.columns
    %hr/
    .row
      .large-6.columns
        %p © Carepill Healthcare Technologies, Bangalore, India
      .large-6.columns
        %ul.menu.simple
          %li= link_to 'Get help', get_help_path
          %li= link_to 'License', license_path