<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Balrampur Diagnotic Center", root_path %></a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li><%= link_to "Reports", root_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Add Doctor" %></li>
      <li class="divider"></li>
    </ul>
  </section>
</nav>
