<div class="large-3 medium-4 columns">
  <div class="hide-for-small">
    <div class="sidebar">
      <nav>
      <ul class="side-nav">
        <li class="heading">New report</li>

        <li><%= link_to "Whole Abdomen", new_reports_path(type: 'whole_abdomen') %></li>
        <li><%= link_to "Lower Abdomen", new_reports_path(type: 'lower_abdomen') %></li>

        <li class="divider"></li>
        <li class="heading">Support</li>

        <li><a href="../changelog.html" data-search="">Changelog</a></li>
        <li><a href="../compatibility.html" data-search="">Compatibility</a></li>
      </ul>
      </nav>
    </div>
  </div>
</div>
