%h1 Get Help
%p
  We are available to help in anyway possible. Once we receive your email we will get back to you fast!
  %br
  Send an email to
  = mail_to 'contact@carepill.in'

%p
  %strong Pro Tips:
  %ul
    %li
      Using keyboard instead of mouse makes you go faster. Use
      = link_to 'Vimium Chrome Extension', 'https://chrome.google.com/webstore/detail/vimium/dbepggeogbaibhgnhhndojpepiihcmeb?hl=en', target: '_blank'
      to speed up your navigation. Once installed press "?" to bring up all the available options. Watch
      = link_to 'this video', 'https://www.youtube.com/watch?v=t67Sn0RGK54', target: '_blank'
      to further understand how Vimium works.

%p
  %strong Software Features:
  %ul
    %li Create, Update, Print reports
    %li Store reports being printed as PDF
    %li Create and store custom report templates
    %li Search for existing reports
    %li Custom header, footer, signature areas
    %li Create report on business generated from Referrers
    %li Sign off report before printing
    %li Save Doctor against each case
    %li Admin Login for report deletion
    %li Reponsive user interface

%p
  %strong Roadmap:
  %ul
    %li Display report history
    %li Tagging / Categorization of templates
    %li Store reports being printed as Word Doc
    %li Dicom viewer integration
    %li Importing template from word doc
    %li Windows system tray application to show status of application
