%h1 Software Features / Roadmap

%p
  %strong Software Features:
  %ul
    %li Installs and works completely offline, no internet no problem!
    %li Create, Update, Print reports
    %li Automated storing reports as PDF in Ultracare Reports folder
    %li Backup reports on cloud
    %li Create and store custom report templates
    %li Search for existing reports
    %li Custom header, footer, signature areas
    %li Create report on business generated from Referrers
    %li Sign off report before printing
    %li Save Doctor against each case
    %li Admin Login for report deletion
    %li Reponsive user interface
    %li Works on windows 7 (32 bit), windows 8 (32 bit)
    %li Software installer, updates are provided in a CD

%p
  %strong Roadmap:
  %ul
    %li Display report history
    %li Tagging / Categorization of templates
    %li Store reports being printed as Word Doc
    %li Dicom viewer integration
    %li Importing template from word doc
    %li Windows system tray application to show status of application
