%h1 Team

.row
  .large-3.columns
    = image_tag 'team/abhishek.png'
  .large-9.columns
    %h2 Abhishek Srivastava
    %h4 Product Developer, Business Developer
    %p - Bio -

.row.padded-top
  .large-3.columns
    = image_tag 'team/vishwanath.jpg'
  .large-9.columns
    %h2 Dr. Vishwanath Rs (Radiologist)
    %h4 Product Advisor, Business Developer
    %p - Bio -

.row.padded-top
  .large-3.columns
    = image_tag 'team/rajesh.jpg'
  .large-9.columns
    %h2 Rajesh Kumar
    %h4 Sales and Marketing Lead
    %p - Bio -
