%div{style: 'margin-top: 100px;'}
  %div{style: 'width: 70%; float: left;'}
    %p
      PLEASE CO-RELATE CLINICALLY
  %div{style: 'width: 30%; float: right;'}
    %p
      SIGNATURE
  %p{style: 'text-align: center; padding-top: 70px;'}
    NOT VALID FOR MEDICOLEGAL PURPOSE
    %br
    Kindly inform any typing mistake immediatelly for the correction.
