%div{style: 'text-align: center'}
  %h1 BALRAMPUR DIAGNOSTIC CENTRE
  %h2 DIAGNOSTIC ULTRASOUND UNIT
  %h3 Opposite - Memorial Hospital, Balrampur
%div{style: 'text-align: left; width: 50%; float: left;'}
  %p Consultant - Dr. G.D.Goel (MBBS, DCP)
%div{style: 'text-align: right, width: 50%; float: right;'}
  %p Consultant - Dr. Faissal Faizi (MBBS, MD)
%hr
