%p
  - if @reportable.impression.present?
    %b= 'impression - '.upcase
    = simple_format @reportable.impression

  - if @reportable.respond_to?(:advise) && @reportable.advise.present?
    %br
    %b= 'advise - '.upcase
    = simple_format @reportable.advise