%div.text-center
  %h3= "#{@reportable.class.name.underscore.titleize} U.S.G. Report".upcase
%table.high-padding
  %tbody
    - @report.report_type.report_type_fields.each do |field|
      - next if @reportable.attributes[field].blank?
      %tr
        %td= field.humanize.upcase
        - if @reportable.attributes[field].present?
          %td= convert_to_line_break(@reportable.attributes[field]).html_safe
