%div.text-center
  %h3= "Upper Abdomen U.S.G. Report".upcase
%table{class: @reportable.padding_level}
  %tbody
    - @reportable.printable_fields.each do |field|
      - next if @reportable.attributes[field].blank?
      %tr
        %td= field.humanize.upcase
        - if @reportable.attributes[field].present?
          %td= convert_to_line_break(@reportable.attributes[field]).html_safe

%div.page-break

%div.padded-top
= render 'shared/pdf/obstetric'
