%div
  %div.float-left
    = wicked_pdf_image_tag 'powered_by_carepill.png'
  %div.text-center.padded-top
    NOT VALID FOR MEDICOLEGAL PURPOSE
    %br
    Kindly inform any typing mistake immediately for the correction.
