<%= simple_form_for(@doctor) do |f| %>

  <p class="fi-alert medium"> Please enter carefully you will not be allowed to edit doctor details again.</p>

  <div class="form-inputs small-6 columns">
    <%= f.input :name %>
    <%= f.input :degree %>
  </div>

  <div class="form-actions small-12 columns">
    <%= f.button :submit %>
  </div>
<% end %>
