<div class="large-6 medium-8 columns">
  <% if @doctor.new_record? %>
    <h1>Add New doctor</h1>
  <% else %>
    <h1>Edit doctor details</h1>
  <% end %>
  <%= render 'form' %>
</div>

<%= render 'listing', doctors: @doctors, reports: @reports %>
