small {
  display: block;
  padding: 0.375em 0.25em;
  margin-bottom: 1em;
  font-size: 0.75em;
  font-weight: bold;
  background: #f04124;
  color: white;
}

.cancel-link {
  margin-left: 10px;
  font-weight: bold;
}

.padded-top {
  padding-top: 20px;
}

input[type="checkbox"] {
  margin-right: 5px;
}
