small {
  display: block;
  padding: 0.375em 0.25em;
  margin-bottom: 1em;
  font-size: 0.75em;
  font-weight: bold;
  background: #f04124;
  color: white;
}

.cancel-link {
  margin-left: 10px;
  font-weight: bold;
}

.padded-top {
  padding-top: 20px;
}

.padded-bottom {
  padding-top: 20px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

.hint {
  font-size: 12px;
  text-align: right;
  padding-top: 4px;
}

.ckeditor {
  margin: 10px 0;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.hiden {
  display: none;
}

label input[type="radio"] {
  margin-right: 5px;
}

.radio {
  display: inline;
  padding: 4px;
  label {
    display: inline;
    margin-right: 20px;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.error {
  color: red;
}