ul#templates {
  max-height: 500px;
  overflow-y: scroll;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  li {
    margin: 3px;
    padding: 3px;
    float: left;
    width: 335px;
    height: 70px;
    font-size: 1.2em;
    text-align: center;
    background-color: #e7e7e7;
    transition: background-color 300ms ease-out;
    overflow: hidden;
    &:hover {
      background-color: #b9b9b9;
    }
    a {
      width: 335px;
      height: 70px;
    }
  }
}

.table {
  display: table;   /* Allow the centering to work */
  margin: 0 auto;
}

ul.side-nav li a {
  font-size: 18px;
}

ul.side-nav li.subheader {
  font-weight: bold;
}

#container {
  min-width: 310px;
  height: 400px;
  margin: 0 auto;
}

#piechart {
  min-width: 310px;
  height: 400px;
  max-width: 600px;
  margin: 0 auto;
}
