h1, h2, h3, h4, h5, div, p, td, th  {
  font-family: serif;
}
p {
  font-size: 18px;
}
.grey {
  color: #4d4d4d;
}
.report-title {
  font-weight: bold;
}

.header {
  margin-top: 10px;
  .logo {
    margin-top: 20px;
    float: left;
  }
  .content {
    width: 82%;
    float: right;
  }
  h1 {
    font-weight: bold;
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 24px;
  }
  p {
    padding-top: 10px;
    font-size: 22px;
  }
}

.patient-section {
  p {
    font-size: 20px;
  }
}

.line-height-4 {
  line-height: 4px;
}
td table {
  margin: 0px;
  padding: 0px;
}
td table {
  thead tr td { padding: 1px 10px; }
  tbody tr td { padding: 1px 10px; }
}

table tbody tr td {
  padding: 10px 5px;
  font-size: 20px;
  line-height: 28px;
}

.high-padding td {
  padding: 15px 5px;
}
.moderate-padding td {
  padding: 10px 5px;
}
.low-padding td {
  padding: 5px 5px;
}

.keep-intact {
  page-break-inside: avoid;
}
.page-break {
  page-break-before: always;
}
.float-left {
  float: left;
}
