h1, h2, h3, h4, h5, div, p, td, th  {
  font-family: serif;
}
.grey {
  color: #4d4d4d;
}
.report-title {
  font-weight: bold;
}
.keep-intact {
  page-break-inside: avoid;
}
.page-break {
  page-break-before: always;
}
.float-left {
  float: left;
}
