<%= simple_form_for(@referrer) do |f| %>

  <div class="row">
    <div class="small-12 columns">
      <label for="report_patient_attributes_age">Name</label>
      <div class="row collapse">
        <%= f.input :name, label: false, input_html: { placeholder: 'Dr. S. K. Sharma (MBBS, MD)' } %>
      </div>
    </div>
  </div>

  <div class="form-actions small-12 columns">
    <%= f.button :submit, value: 'Add Referrer', class: 'round' %>
    <%= link_to 'Cancel', root_path, class: 'cancel-link' %>
  </div>
<% end %>
