<div class="large-12 medium-8 columns">
  <h1>Listing referrers</h1>
  <table id='sortable'>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Edit</th>
      </tr>
    </thead>

    <tbody>
      <% @referrers.each do |referrer| %>
        <tr>
          <td><%= referrer.id %></td>
          <td><%= referrer.name %></td>
          <td><%= link_to 'Edit', edit_referrer_path(referrer) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
