<div class="row">
  <div class="small-6 columns">
    <label for="">Total amount collected</label>
    <div class="row collapse">
      <div class="small-1 columns">
        <span class="prefix">Rs.</span>
      </div>
      <div class="small-5 columns">
        <%=  f.input :amount_collected, label: false %>
      </div>
      <div class="small-1 columns">
      </div>
    </div>
  </div>
</div>