<h3>Patient Details</h3>
<%= f.fields_for :patient, Patient.new do |patient_fields| %>
  <%=  patient_fields.input :name %>
  <%=  patient_fields.input :age %>
  <%=  patient_fields.input :sex %>
<% end %>
