%hr
.row
  .large-6.columns
    Switch template
    = select_tag :template,
      options_from_collection_for_select(@templates, :id, :name),
      include_blank: true,
      class: 'switch-template'
  .large-6.columns