.padded-top
  = link_to 'Edit report', edit_report_path(@report), class: 'button'
  = link_to 'Print report', print_report_path(@report), target: '_blank', class: 'button'
%h1.padded-top.text-center Report
%hr
= render partial: 'shared/pdf/patient'
%hr
= render partial: 'content'
