!!!
%html
  %head
    %meta{:charset => "utf-8"}

  %body
    .footer
      %p{style: 'text-align: center; padding-top: 70px;'}
        NOT VALID FOR MEDICOLEGAL PURPOSE
        %br
        Kindly inform any typing mistake immediatelly for the correction.
